/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 20px;
  padding: 1px 30px;
  background-color: #f6fcef;
  text-align: center;

  color: #415660;

  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30.33333%;

    img.pull-right {
      float: right;
      width: 100px;
    }
  }
}


.menu {
  margin-bottom: 20px;
  ul {
    margin: 0;
    padding:0;
    li {
      cursor: pointer;
      width: 25%;
      padding: 5px 0;
      text-align: center;
      background: #f4faed;
      display: inline-block;
    }
    li:hover {
      background: #ebf1e5;
    }
  }
}

md-datepicker {
  background: none;
  display: block;
  padding:10px 0px;
  margin-right:0;
  .md-datepicker-button {
    margin: 0 !important;
    padding: 0 !important;
    width: 12% !important;
  }
  .md-datepicker-input-container {
    margin: 0;
    width: 88%;
  }
}


#google-map {
  width: 100%;
  height: 300px;
  * {
    box-shadow: none !important;
  }
}

.datetime {
  cursor: pointer;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector
