<div class="content">

    <!--<facebook-btns></facebook-btns>-->

    <section class="jumbotron">
        <h1></h1>
    </section>

    <menu-bar></menu-bar>

    <div class="left">

        <md-input-container>
            <label>Discipline</label>
            <md-select ng-model="sportEvent.disciplineID" aria-label="Select">
                <md-option ng-repeat="d in disciplines" value="{{d.uniqueID}}" selected>{{d.name}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime1" class="datetime"
                   placeholder="Since" ng-model="sportEvent.since" class=" md-input">
            <md-button class="date-select md-raised md-default" ng-click="setNow();">
                Now
            </md-button>
            <md-button class="date-select md-raised md-default" ng-click="setDayAgo();">
                Day ago
            </md-button>
            <md-button class="date-select md-raised md-default" ng-click="setWeekAgo();">
                Week ago
            </md-button>
        </md-input-container>

        <md-input-container>
            <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime2" class="datetime"
                   placeholder="To" ng-model="sportEvent.to" class=" md-input">
            <md-button class="date-select md-raised md-default" ng-click="setDay();">
                Day
            </md-button>
            <md-button class="date-select md-raised md-default" ng-click="setWeek();">
                Week
            </md-button>
            <md-button class="date-select md-raised md-default" ng-click="setMonth();">
                Month
            </md-button>
        </md-input-container>

        <!--<md-datepicker ng-model="sportEvent.since" md-placeholder="Since date"></md-datepicker>-->
        <!--<md-datepicker ng-model="sportEvent.to" md-placeholder="To date"></md-datepicker>-->

        <md-input-container>
            <label>Level</label>
            <md-select ng-model="sportEvent.level" aria-label="Select">
                <md-option value="easy" selected>easy</md-option>
                <md-option value="medium">medium</md-option>
                <md-option value="hard">hard</md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label>Number of players</label>
            <input ng-model="sportEvent.numberOfPlayers">
        </md-input-container>

        <md-input-container>
            <label>Free places</label>
            <input ng-model="sportEvent.freePlaces">
        </md-input-container>

        <md-input-container>
            <label>Address</label>
            <input ng-model="sportEvent.address">
        </md-input-container>

        <md-button class="md-raised md-warn" ng-click="getEvents();">
            Filter
        </md-button>

    </div>

    <div class="right">

        <div class="event" ng-repeat="e in events">
            <div class="header header-football">
                <md-button class="md-raised btn-event-details" ng-click="openEvent(e.sportEventID)">Details</md-button>
                {{ e.discipline.name }}
            </div>
            <div class="event-content">
                <div class="details">
                    <table>
                        <tr>
                            <td>
                                <md-icon aria-label="Address" class="material-icons">room</md-icon>
                                {{ e.address}}
                            </td>
                            <td>
                                <md-icon aria-label="Date" class="material-icons">insert_invitation</md-icon>
                                {{ e.date | date: 'dd-MM-yyyy' }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <md-icon aria-label="Players" class="material-icons">group</md-icon>
                                {{ e.numberOfParticipants }} / {{ e.numberOfPlayers }} {{ (e.reserveList) ? "(R)" : ""}}
                            </td>
                            <td>
                                <md-icon aria-label="Time" class="material-icons">schedule</md-icon>
                                {{ e.date | date: 'HH:mm' }}
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="footer"></div>
        </div>

    </div>

</div>

