@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.content {

  * {
    box-sizing: border-box;
  }

  padding: 20px 50px;
  max-width: 1280px;
  margin:0 auto;

  .left {
    width: 300px;
    padding: 20px;
    background: rgb(246, 252, 239);
    float: left;

    md-input-container {
      width:100%;

      .md-errors-spacer {
        display: none;
      }
    }

    .date-select {
      line-height: 5px;
      min-height: 16px;
      font-size: 9px;
      min-width: 60px;
      width: 40px;
      margin: 10px 5px 0 0;
      background: #F6FCEF;
    }
  }

  .right {
    width:calc(~'100% - 360px');
    padding: 20px;
    background: rgb(246, 252, 239);
    float: right;
    overflow: hidden;

    .event {
      border:1px dotted #e2e2e2;
      //padding: 20px;
      margin-bottom: 20px;
      word-wrap: break-word;
      overflow: hidden;


      .header {
        color: #fff;
        text-align: left;
        padding: 5px 10px;
        font-size: 14px;
      }
      .header-football {
        background: #78bb5a;
      }
      .header-basketball {
        background: #ff8205;
      }
      .header-voleyball {
        background: #3480dd;
      }

      .event-content {
        padding: 10px;
        font-size: 14px;
        overflow: hidden;

        .material-icons {
          font-size:22px;
          color: rgba(158, 163, 169, 1);
        }

        .details {
          width:100%;
          //width:50%;
          float: left;

          table {
            width: 100%;
            td {
              width: 50%;
              md-icon {
                margin-right: 3px;
              }
            }
          }
        }

        .author {
          width:50%;
          float: left;
        }
      }

      .footer {
        //todo
      }

    }
    .event:last-child {
      margin-bottom: 0;
    }

  }

  .material-icons {
    font-size:24px;
  }
}

/*
Buttons
*/

.btn-event-details {
  font-size:12px;
  min-height: inherit;
  line-height: normal;
  padding: 1px;
  margin: 0;
  float: right;
  //text-transform: capitalize;
}

.fb {
  text-align: center;
  .btn-fb {
    margin: 20px 0;
  }
}
